<% layout('layouts/boilerplate') -%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>➤Edit listing</h3>
      <form method="POST" action="/listing/<%= listing._id %>?_method=PUT">
        <div class="mb-3 col-md-6">
          <label for="title" class="form-label">Enter title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%=listing.title%>"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="Description" class="form-label">Enter Description</label>
          <textarea
            type="text"
            name="listing[description]"
            rows="5"
            cols="20"
            class="form-control"
          >
<%=listing.description %></textarea
          >
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Enter URL/link of image</label>
          <input
            type="text"
            name="listing[image]"
            value="<%=listing.image%>"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Enter Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%=listing.price%>"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="location" class="form-label">Enter location</label>
            <input
              type="text"
              name="listing[location]"
              value="<%=listing.location%>"
              class="form-control"
            />
          </div>

          <div class="mb-3 col-md-6">
            <label for="country" class="form-label">Enter country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%=listing.country%>"
              class="form-control"
            />
          </div>
        </div>
        <button class="btn btn-dark mb-3 add-btn">Submit</button>
      </form>
    </div>
  </div>
</body>
