<% layout('layouts/boilerplate') -%>
  <body>
   
   

    <!-- cardd -->
     <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
      
    <% for( let listing of allListings){ %>
      <a href="listing/<%= listing._id %>">
    <div class="card col " >
      <div class="card-img-overlay"></div>
      <img src="<%= listing.image %>" class="card-img-top" style = "height: 20rem;" alt="...">
      
      <div class="card-body">
       <b> <p class="card-title"><%= listing.title %></p></b>
        <p class="card-text"><%= listing.description %> <br><br>
          &#8377;<%= listing.price.toLocaleString("en-IN") %> /night</p>
      </div>
    </div>
    </a>
    <% } %>
  </div>

      
  </body>



